// vdb = very dark blue
// gb = Grayish Blue
// vlg = Very Light Gray

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$vdb: hsl(234, 12%, 34%); //used
$gb: hsl(229, 6%, 66%); //used
$vlg: hsl(0, 0%, 98%); //used