@use "../utilities/index" as dev;

//colors
h1,
h2,
h3,
h4,
h5,
h6 {
    color: dev.$vdb;
}

p {
    color: dev.$gb;
}

.head {

    .head__h1,
    .head__h2 {
        font-size: dev.rem(21);
        text-align: center;
    }
}